.pageContainer, html, body {
    margin: 0;
}

.section1, .section2, .section3, .section4 {
    flex: 1 1 auto;        
    height: 500px;
    border: 1px solid red;
}

.pageContainer {
    flex-direction: column;
    display: flex;
}

.section1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.section1 .top {
    height: 100px;
    border: 5px solid red;
    flex: 1 1 auto;
    display: inline-flex;
}

.section1 .top p {
    font-weight: bolder;
    color: #f9faf8;
    font-size: 24px;
    border: 5px solid red;
    margin: 0px;
    align-self: center;
    position: relative;
    left: 10%;
}

.section1 .top a {
    color: #f9faf8;
    border: 5px solid red;
    align-self: center;
    position: relative;
    left: 70%;
    padding: 10px;
}

.section1 .content {
    height: 400px;
    border: 5px solid red;
    flex: 1 1 auto;
}

.section2 {

}

.section3 {
    background-color: #e5e7eb;
}

.section4 {
    
}

